@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Boltz.Arkade.Helpers
@using NArk.Swaps.Models
@using NBitcoin
@using static BTCPayServer.Plugins.Boltz.Arkade.Helpers.ArkViewHelpers
@inject ArkNetworkConfig ArkNetworkConfig
@model IEnumerable<ArkSwap>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th text-translate="true">Swap ID</th>
                    <th text-translate="true">Type</th>
                    <th text-translate="true">Amount</th>
                    <th text-translate="true">@(ViewData["TimeColumnLabel"] ?? "Created")</th>
                    <th text-translate="true">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var swap in Model)
                {
                    var boltzSwapLink = ArkadeLinkHelper.GetSwapLink(ArkNetworkConfig, swap.SwapId);

                    <tr>
                        <td>
                            <vc:truncate-center text="@swap.SwapId" link="@boltzSwapLink" classes="truncate-center-id"/>
                        </td>
                        <td>
                            <span class="badge @GetSwapTypeBadgeClass(swap.SwapType)">@GetSwapTypeLabel(swap.SwapType)</span>
                        </td>
                        <td>@Money.Satoshis(swap.ExpectedAmount).ToDecimal(MoneyUnit.BTC) BTC</td>
                        <td>
                            @if (ViewData["UseTimeAgo"] as bool? ?? false)
                            {
                                @swap.CreatedAt.ToTimeAgo()
                            }
                            else
                            {
                                @swap.CreatedAt.ToBrowserDate()
                            }
                        </td>
                        <td>
                            <span class="badge @GetSwapStatusBadgeClass(swap.Status, swap.SwapType)">@GetSwapStatusLabel(swap.Status, swap.SwapType)</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
