@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.ArkPayServer.Helpers
@using NArk.Swaps.Models
@using NBitcoin
@using static BTCPayServer.Plugins.ArkPayServer.Helpers.ArkViewHelpers
@inject ArkNetworkConfig ArkNetworkConfig
@model IEnumerable<ArkSwap>

@{
    var showMassSelect = ViewData["ShowMassSelect"] as bool? ?? false;
    var formAction = ViewData["FormAction"] as string ?? "";
    var storeId = ViewData["StoreId"] as string ?? "";
    var contractScript = ViewData["ContractScript"] as string ?? "";
    var formId = $"swap-sublist-form-{contractScript.GetHashCode()}";
}

@if (Model.Any())
{
    if (showMassSelect && !string.IsNullOrEmpty(formAction))
    {
        <form method="post" action="@formAction" id="@formId">
            <input type="hidden" name="storeId" value="@storeId" />
            <input type="hidden" name="contractScript" value="@contractScript" />
            <div class="table-responsive">
                <table class="table table-sm mb-0 mass-action">
                    <thead class="mass-action-head">
                        <tr>
                            <th class="mass-action-select-col only-for-js" style="width: 32px;">
                                <input type="checkbox" class="form-check-input mass-action-select-all" />
                            </th>
                            <th text-translate="true">Swap ID</th>
                            <th text-translate="true">Type</th>
                            <th text-translate="true">Amount</th>
                            <th text-translate="true">@(ViewData["TimeColumnLabel"] ?? "Created")</th>
                            <th text-translate="true">Status</th>
                        </tr>
                    </thead>
                    <thead class="mass-action-actions">
                        <tr>
                            <th class="mass-action-select-col only-for-js">
                                <input type="checkbox" class="form-check-input mass-action-select-all" />
                            </th>
                            <th colspan="5">
                                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                                    <div>
                                        <strong class="mass-action-selected-count">0</strong>
                                        <span text-translate="true">selected</span>
                                    </div>
                                    <div class="d-inline-flex align-items-center gap-3">
                                        <button type="submit" name="command" value="poll-status" class="btn btn-link">
                                            <vc:icon symbol="actions-refresh" />
                                            <span text-translate="true">Poll Status</span>
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var swap in Model)
                        {
                            var boltzSwapLink = ArkadeLinkHelper.GetSwapLink(ArkNetworkConfig, swap.SwapId);

                            <tr class="mass-action-row">
                                <td class="only-for-js align-middle">
                                    <input name="selectedItems" type="checkbox" class="form-check-input mass-action-select" value="@swap.SwapId" />
                                </td>
                                <td>
                                    <vc:truncate-center text="@swap.SwapId" link="@boltzSwapLink" classes="truncate-center-id"/>
                                </td>
                                <td>
                                    <span class="badge @GetSwapTypeBadgeClass(swap.SwapType)">@GetSwapTypeLabel(swap.SwapType)</span>
                                </td>
                                <td>@Money.Satoshis(swap.ExpectedAmount).ToDecimal(MoneyUnit.BTC) BTC</td>
                                <td>
                                    @if (ViewData["UseTimeAgo"] as bool? ?? false)
                                    {
                                        @swap.CreatedAt.ToTimeAgo()
                                    }
                                    else
                                    {
                                        @swap.CreatedAt.ToBrowserDate()
                                    }
                                </td>
                                <td>
                                    @{
                                        var swapclass = swap.Status switch
                                        {
                                            ArkSwapStatus.Pending => "text-bg-info",
                                            ArkSwapStatus.Settled => "text-bg-success",
                                            ArkSwapStatus.Failed => "text-bg-danger",
                                            _ => "text-bg-warning"
                                        };
                                    }

                                    <span class="badge @swapclass">@Enum.GetName(typeof(ArkSwapStatus), swap.Status)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-sm mb-0">
                <thead>
                    <tr>
                        <th text-translate="true">Swap ID</th>
                        <th text-translate="true">Type</th>
                        <th text-translate="true">Amount</th>
                        <th text-translate="true">@(ViewData["TimeColumnLabel"] ?? "Created")</th>
                        <th text-translate="true">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var swap in Model)
                    {
                        var boltzSwapLink = ArkadeLinkHelper.GetSwapLink(ArkNetworkConfig, swap.SwapId);

                        <tr>
                            <td>
                                <vc:truncate-center text="@swap.SwapId" link="@boltzSwapLink" classes="truncate-center-id"/>
                            </td>
                            <td>
                                <span class="badge @GetSwapTypeBadgeClass(swap.SwapType)">@GetSwapTypeLabel(swap.SwapType)</span>
                            </td>
                            <td>@Money.Satoshis(swap.ExpectedAmount).ToDecimal(MoneyUnit.BTC) BTC</td>
                            <td>
                                @if (ViewData["UseTimeAgo"] as bool? ?? false)
                                {
                                    @swap.CreatedAt.ToTimeAgo()
                                }
                                else
                                {
                                    @swap.CreatedAt.ToBrowserDate()
                                }
                            </td>
                            <td>
                                @{
                                    var swapclass = swap.Status switch
                                    {
                                        ArkSwapStatus.Pending => "text-bg-info",
                                        ArkSwapStatus.Settled => "text-bg-success",
                                        ArkSwapStatus.Failed => "text-bg-danger",
                                        _ => "text-bg-warning"
                                    };
                                }

                                <span class="badge @swapclass">@Enum.GetName(typeof(ArkSwapStatus), swap.Status)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
